<!doctype html>
<html lang="kor">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <title>우리동네 인구통계!</title>
</head>

<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">우리동네 인구통계</h1>
      <p class="lead">현재 거주하는 동의 이름을 입력하면 연령별 인구를 그래프로 보여드립니다.</p>
    </div>
  </div>
  <form action="/" method="post">
    <div class="form-group row container">
      <label for="colFormLabelLg" class="col-sm-3 col-form-label col-form-label-lg">거주지</label>
      <div class="col-sm-5">
        <input type="text" class="form-control form-control-lg" name="city" placeholder="조회하고 싶은 동을 입력하시오.">
      </div>
      <div class="col-sm-3">
        <button type="submit" class="btn btn-primary">조회하기</button>
      </div>
    </div>
  </form>
  {% if city %}
  <h4 class="title">{{ city }}</h4>
  {% endif %}
  {% if df_man %}
  <p class="_print">{{ df_man }}</p>
  {% endif %}
  <!--  <div class="graph">-->
<!--    {% if True %}-->
<!--    <img src="{{ url_for('static', filename=image_file) }}">-->
<!--    {% endif %}-->
<!--  </div>-->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>