{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Welcome To FlaskApp</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
        asperiores
        aspernatur consequuntur culpa ducimus facilis fuga fugit ipsa iusto
        nesciunt officia quaerat quo quos similique suscipit ullam vel vitae,
        voluptates.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
{% endblock%}